EXTENSIONS = ['adsws.ext.menu',
              'adsws.ext.sqlalchemy',
              'adsws.ext.security',]

PACKAGES = ['adsws.discoverer', 'adsws.modules.oauth2server',]

WEBSERVICES_PUBLISH_ENDPOINT = '/resources'
WEBSERVICES = {
  # uri : deploy_path
  'http://internal-awseb-e-e-AWSEBLoa-8ECWZWFUVPSV-1604690816.us-east-1.elb.amazonaws.com':'/vis',
}
